<div>
	<%= form_for @student, url: "/create_student" do |f| %> 
		<table>
			<tr>
				<th>Name :</th>
				<td><%= f.text_field :name, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Roll :</th>
				<td><%= f.text_field :roll, class: 'input_text', required: true %></td>
			</tr>
			
			<tr>
				<th>Age :</th>
				<td><%= f.text_field :age, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Gender :</th>
				<td><%= f.text_field :gender, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Mob :</th>
				<td><%= f.text_field :mobile, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Email :</th>
				<td><%= f.text_field :email, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Address :</th>
				<td><%= f.text_area :address, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<td><%= f.submit "Submit", class: 'green_btn' %></td>
				<td><%= link_to "Cencle", "/dashboard", class: 'green_btn' %></td>
			</tr>
		</table>
	<% end %>
</div>