<div class="show_content">
	<%= form_for @student, url: "/create_student" do |f| %> 
		<table >
		<caption>Student Registraton form</caption>
			<tr>
				<th>Name :</th>
				<td><%= f.text_field :name, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Roll :</th>
				<td><%= f.text_field :roll, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Class :</th>
				<td><%= f.select("standard", Standard.all.collect {|p| [ p.name,p.id ] }, :class => "std") %></td>
				<!--To see the id of select option inspect select option n browser-->
			</tr>
			<tr>
				<th>Subject :</th>
				<td id='prefill_subject'><%= select_tag 'subjects', options_for_select([["Select Subject" , "" ]]), {:disabled=>true} %></td>
			</tr>
			<tr>
				<th>Gender :</th>
				<td><%= f.text_field :gender, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Mob :</th>
				<td><%= f.text_field :mobile, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Email :</th>
				<td><%= f.text_field :email, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<th>Address :</th>
				<td><%= f.text_area :address, class: 'input_text', required: true %></td>
			</tr>
			<tr>
				<td><%= f.submit "Submit", class: 'green_btn' %></td>
				<td><%= link_to "Cencle", "/student_details", class: 'green_btn' %></td>
			</tr>
		</table>
	<% end %>
</div>

<script type="text/javascript">
	// function change_subject(){
	// 	alert(1)
		
	// }
	$( "#student_standard" ).change(function() {
	 b_id = $(this).val() ;
	  var url = "/list_subjects/"+b_id;
		$.ajax({
			url: url, 
			success: function(result) {
        		$("#prefill_subject").html(result);
    		}
    	});
	});
</script>