<div class="loader"></div><table class="book_show">
		<caption><h3>Details of <%= @book.name%> :</h3></caption>
		<tr>
			<th>
				Name :
			</th>
			<td><%= @book.name%></td>
		</tr>
		<tr>
			<th>
				Title :
			</th>
			<td><%= @book.title%></td>
		</tr>
		<tr>
			<th>
				Author :
			</th>
			<td><%= @book.author%></td>
		</tr>
		<tr>
			<th>
				Privacy :
			</th>
			<td><%= @book.privacy%></td>
		</tr>
	</table>